.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: 2px solid #333;
  width: 480px;
  height: 480px;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.light {
  background-color: #eeeed2;
}

.dark {
  background-color: #769656;
}

.piece {
  cursor: grab;
}
